body {
        background-color: #f5f1fe;
        font-family: sans-serif;
      }

      h1 {
        text-align: center;
        font-size: 38px;
      }

      h2 {
        font-size: 28px;
      }

      select {
        display: block;
        width: 100%;
        font-size: 18px;
        border-radius: 4px;
        padding: 10px;
      }

      .container {
        display: block;
        max-width: 650px;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 0 auto;
      }

      .city-container {
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      }

      .city-container:last-child {
        border-bottom: none;
      }

      .date {
        opacity: 0.7;
      }

      .time {
        font-size: 25px;
        font-weight: bold;
      }

      .time small {
        vertical-align: middle;
        line-height: 4.5;
        font-size: 18px;
      }

      footer {
        text-align: center;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);